* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Alkatra', cursive;
}


.aside ul a {
    position: absolute;
    left: -90px;
    transition: 0.2s;
    padding: 15px;
    width: 200px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    border-radius: 0 15px 15px 0;
}

.aside a:hover {
    left: 0;
}

li {
    list-style: none;
}


#p1 {
    top: 80px;
    background-color: black;
}

#p2 {
    top: 140px;
    background-color: #3CB371;
}

#p3 {
    top: 200px;
    background-color: black;
}

#p4 {
    top: 260px;
    background-color: #3CB371;
}

#p5 {
    top: 320px;
    background-color: black;
}

#p6 {
    top: 380px;
    background-color: #3CB371;
}

#p7 {
    top: 440px;
    background-color: black;
}

#p8 {
    top: 500px;
    background-color: #3CB371;
}

#p9 {
    top: 560px;
    background-color: black;
}

#p10 {
    top: 620px;
    background-color: #3CB371;
}

#p11 {
    top: 680px;
    background-color: black;
}

#p12 {
    top: 740px;
    background-color: #3CB371;
}

#p13 {
    top: 800px;
    background-color: black;
}



#img {
    width: 419px;
    border: 10px #3CB371 solid;
    border-radius: 15px 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

#meio {
    margin-top: 35px;
    margin-bottom: 38px;
}

h1 {
    width: 400px;
    margin: 15px;
    font-size: 25px;
    font-weight: 900;
    color: #3CB371;
}

#h1 {
    border: 7px solid;
    border-color: #3CB371 black;
    height: 65px;
    text-align: center;
    padding-top: 10px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 27px;
    margin-top: 20px;
}


h3 {
    margin-top: 13px;
    text-align: center;
    margin-bottom: 10px;
    width: 450px;
    font-size: 23px;
    font-weight: 900;
    color: #FFD700;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.p {
    width: 40vw;
    font-size: 17px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#letter-color::first-letter {
    color: #3CB371;
    font-size: 40px;
    font-style: italic;
    letter-spacing: -5px;
    font-weight: 900;

}

#letter-yellow::first-letter {
    color: #FFD700;
    font-size: 40px;
    font-style: italic;
    letter-spacing: -5px;
    font-weight: 900;
}

#prg2 {
    letter-spacing: 1px;
    text-align: center;
    line-height: 24px;
    margin-top: 36px;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}


#img-2 {
    width: 632px;
    border-radius: 18px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 25px;
}